/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
/* General basic setup */

* {box-sizing: border-box;}

html {font-size:16px;}

nav {min-width: 45rem;}

main, footer {margin: 1.25rem auto;
                width: 90%;
                min-width: 42.5rem;}

/* IMPORTED FONT */

@font-face {
    font-family:"ultra";
    src: url(../fonts/serif/ultra-regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "lato";
    src: url(../fonts/serif/lato-regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"opensans";
    src: url(../fonts/serif/ultra-regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* TYPOGRAPHY */
h1, h2, h3, h4 {
    font-family: 'Courier New', Courier, monospace;

}


/* Title */
h1 {
    padding: 2rem;
    font-size: 2.75rem;
    transform: rotate3d(-3deg);
    padding-right: 0rem;
}
h2{
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-left: 4rem;
    margin-bottom: none;
    margin-right: auto;
}   
h3{
    font-size: 1.5rem;
    margin-top: 0rem;
    padding-top: 0rem;
}
.highlight {
    font-family: ultra;
    display: inline-table;
    background-color: aquamarine;
    padding: .75 1rem;
    color: beige;
    width: 20rem;
    letter-spacing: .15rem;
    border-radius: .5rem .123rem;
    box-shadow: 0.25rem 0.25rem 0.125rem #808080;
}
/* LAYOUT */
.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;

}
article {
    grid-column: 1/2;
    grid-row: 1;
    padding-left: 4rem; /**/
    
}

.subsection {
    display: flex;
}

aside {
    grid-column: 2/3;
    grid-row: 1;
    border-left: 1px solid black;
    padding-left: 1.5rem;
    padding-right: 4rem;
}
/* Figures and Images */

.subsection figure {margin: 0;
    margin-right: 0.5em;
    background-color:hsl(0, 0%, 100%);}
img {width: 100%;}

.article-image {float: left;
    margin-right: 1rem;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0rem;
    width: 35%;}
nav {
    border-bottom: #284e95;
    border-top: #c6e22b;
    margin-left: none;
    padding-left: .5rem;
    margin-right: none;
}

figcaption {padding: 0.75em .75em;
    font-size: 0.75rem;}
/* Links */

footer a:visited {
    color: #c6e22b}

footer a:active {color: #d900ff;}

button {margin-top: 2rem;
    font-family: roboto, serif;
    font-size: 1.5rem;
    color:#284e95;
    padding: 1rem 1rem;
    background-color:hsl(147, 100%, 27%);
    border-radius: 1rem;
    border: none;
    box-shadow: 3px 3px 3px rgb(141, 61, 61);}

.expand {display: block;
    font-size: .5rem;
    text-decoration: none;}
/* Aside Dots */
.expand {
    font-size: .4rem;
}
/* COPY and Right */
.copyright {
    width: 100%;
    margin: 3rem;
    margin-top: 1.6rem;
    margin-left: 3rem;
    padding-top: 5rem;
    padding-left: 1rem;
}